.button {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-size: var(--pixel-xl);
  align-self: flex-start;
  justify-self: center;
  border: 2px solid var(--main-color);
  border-radius: var(--pixel-l);
  padding: var(--pixel-s) var(--pixel-l);
  cursor: pointer;
  background-color: var(--main-color-opacity);
  position: relative;
  transform: scale(1);
  transition: transform 0.5s ease;
  user-select: none;
  backdrop-filter: blur(5px);
}

.button:active {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}

.clicker {
  grid-row: 5/6;
  grid-column: 2/3;

}

.upgrade {
  grid-row: 6/7;
  grid-column: 2/3;
  justify-self: center;
  position: relative;
  justify-content: center;
}

.shop-button {
  display: none;
  grid-row: 5/6;
  grid-column: 1/2;
}

.reset {
  display: none;
  grid-row: 6/7;
  grid-column: 1/2;
}

.button-indicator {
  position: absolute;
  background-color: var(--first-accent-color);
  border-radius: 16px;
  padding: var(--pixel-xxs) var(--pixel-xs);
  font-size: var(--pixel-s);
  bottom: -15%;
}