.settings {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.settings-grid {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    height: 100%;
    width: 30%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    top: 0;
    right: 0px;
    transform: translate(100%, 0);
    transition: transform 1s ease;
}

.settings-grid.active {
    transform: translate(0%, 0);
    transition: transform 1s ease;
}



.settings-icon {
    display: none;
    position: relative;
    z-index: 3;
    width: var(--pixel-xxxl);
    color: var(--main-color-opacity);
    stroke: var(--main-color);
    stroke-width: 2px;
    overflow: visible;
    grid-row: 1/2;
    grid-column: 3/4;
    align-self: center;
    justify-self: flex-end;
    margin-right: var(--pixel-xl);
    animation: rotate 1s ease;
    transform-origin: center;
    transform: translate(0, 0) rotate(0deg);
    transition:  1.0s ease;
  }

@keyframes rotate {
    from {
        transform: translate(150%, 0) rotate(180deg);
    }
    to {
        transform: translate(0, 0) rotate(0deg);
    }
}

.settings-icon.active {
    color: var(--main-color);
    transform: translate(0, 0) rotate(180deg);
    transition:  1.0s ease;
}

.settings-grid__background {
    height: 100%;
    width: 100%;
    grid-row: 1/8;
    grid-column: 1/2;
}

.settings-window {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;    
    grid-row: 2/7;
    grid-column: 1/2;
    background-color: var(--main-color-opacity);
    border-top-left-radius: var(--pixel-xl);
    border-bottom-left-radius: var(--pixel-xl);
    backdrop-filter: blur(5px);
    border: 4px solid var(--main-color);
    border-right: none;
}


.scale-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
input[type="range"] {
    width: 50%;
    color: var(--main-color);
    background-color: var(--main-color-opacity);
}
  