.shop {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    z-index: 2;
    padding: var(--pixel-xxxl);
    border: 4px solid var(--main-color);
    border-radius: var(--pixel-xxxl);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255, 0.5);
    gap: var(--pixel-xxxl);
}

.shop-background {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.product-card {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16rem;
    aspect-ratio: 2/3;
    backdrop-filter: blur(15px);
    border: 3px solid var(--main-color);
    border-radius: var(--pixel-xxl);
    gap: var(--pixel-l);
    box-shadow: var(--pixel-xxs) var(--pixel-xxs) var(--pixel-xxs) var(--pixel-xxs) rgba(0,0,0, 0.15);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform: scale(105%);
    transition: transform 0.2s ease;
}

.product-name {
    font-size: var(--pixel-l);
    color: var(--main-color);
    text-transform: uppercase;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--pixel-l);
    font-weight: 700;
    color: var(--main-color);
    aspect-ratio: 1/1;
    padding: var(--pixel-m);
    border-radius: 50%;
    background-color: var(--second-accent-color);
}

.buy {
    align-self: center;
}